# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
dist-ssr/
*.local

# Android build
android/app/build/
android/.gradle/
android/captures/
android/local.properties

# iOS (kalau ada)
ios/App/build/
ios/App/Pods/
ios/App/Podfile.lock

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage/
